#myfaq{
    
 /* background: url("./../../public/bg.jpg");
 background-size: cover;
 background-position: center;    
     background-attachment: fixed; */
     /* background-color: rgb(208, 208, 250); */


}

